.lj {
    font-size: 5rem;
}

.omTekst{
    grid-auto-flow: column;
    justify-content: left;
    align-items: left;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 1rem;
    z-index: 1;
}

.current{
    align-items: left;
}