input, textarea, label, select, button, .button{
    font-size: 1rem;
    padding: .5rem;
    display: block;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    margin:1rem;
  }
  .edit-icons {
    transform:scale(1.5);
  }
  
  .edit-icons{
    color: rgb(199, 199, 199);
    cursor: pointer;
    z-index: 1;
  }

  .project-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .2rem;
    margin-bottom: 1rem;
    justify-content: left;
    margin:2rem 0 2rem 0;
  }

  .project-images > div{
    min-width:100%;
    height:150px;
    display:grid;
    place-items:center;
    position:relative;
  }

  .project-images h3{
    position:absolute; 
  }
  .project-images img{
    width: 100%;    
    height:100%;
    object-fit:cover;
  }
  
  input, textarea{
    background-color:  rgb(177, 177, 177);
    border: none;
    box-shadow:  2px 2px 5px rgb(75, 75, 75);
  }
  
  textarea{
    min-width: 50vw;
    min-height: 10rem;
    margin: 1rem;
  }
  
 .edit img{
    width: 5rem;
  }

  
  .edit label{
    padding:0;
    margin-top: 10px;    
  }

.edit {
    animation: slideIn 6s ease;
}

.ProsjektDef{
  width: 20vw;
}

@keyframes slideIn {
    from{
        transform:translateX(100%)
    }
    to{
        transform:translateY(0%)
    }
}

.checkbox{
    display: grid;
    grid-auto-flow: column;
    gap: .1rem;
    justify-content: start;
    align-items: flex-start;
}