footer {
    width: 100vw;
    height: 20vh;
    background: rgb(0, 19, 19);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    padding-left: 2rem;
    margin-top: 2rem;
}

footer a{
    text-decoration: none;
    color: rgb(0, 31, 31);
    font-weight: 400;
}

.footertekst{
    color: rgb(255, 162, 36);
    border-width: 1px;
    height: 2px;
    justify-content: center;
    align-items: center;
}
