.header-container{
    position: fixed;
    width: 100vw;
    height: 15vh;
    background: (0, 25, 25);
    color: rgb(250, 250, 250);
    display: grid;
    place-items: center;
    z-index: 2;
}

header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: rgb(0, 25, 25);
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    padding: 2rem;
}

.burger{
    display: none;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

header a{
    text-decoration: none;
    font-weight: 400;
    color: rgba(255, 162, 36, 0.301);
}

[aria-current='page'], .active {
    font-weight: 700;
    color: rgb(255, 162, 36);
}

header img{
    width: 9%;
    z-index: 1;
    cursor: pointer;
}

img{
    padding: 0;
}

@media (max-width:1000px){
    header{
        width: 100%;
        transform:translateY(-100%);
        grid-auto-flow: row;
        align-content: center;
        min-height: 100vh;
        transition: .4s ease;
    }
    header a{
        font-size: 3rem;
        color: whitesmoke;
    }

    header.visible{
        background-color: rgb(153, 153, 153);
        transform:translateY(0);
    }
    .burger{
        display: block;
    }
    main{
        padding: 30vh 5vh;
    }

}