.project{
    position: relative;
    display:grid;
    grid-template-columns:1fr 1fr;
    height:70vh;
}
.project-content {
    transition: 6s ease;
    background: rgb(0, 25, 25);
    color: whitesmoke;
    position:relative;
}

.project-content .abs{
    position:absolute;
    top:50px;
    right:-50px;
}
.project:nth-of-type(even) .project-content .abs{
    top:50px;
    left:-50px;
    right:auto;
}


.project img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center top;
    box-shadow: 0 8px 6px -6px black;
}
.project:nth-of-type(odd) .project-content{
    grid-row-start: 1;
}


.admin-icons{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap:1rem;
}

.edit-icons{
    color: rgb(105, 105, 105);
}

svg{
   color: rgb(255, 162, 36);
   padding-left: .2rem;
   size: 4rem;
}

@keyframes zoomIn{
    from{
        transform:scale(0.0);
    }
    to{
        transform: scale(100vw, 100vh);
    }
}

@media (max-width:1000px){
    .project{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
    .project-content #intro-project{
        font-size: 2rem;
        text-align: center;
        display: grid;
    }

}