@import url('<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap" rel="stylesheet">');

body, html{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
  background: rgb(0, 25, 25);
}

*{
 box-sizing: border-box;
}

main{
  padding-top: 20vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

button, .button{
    background-color: rgb(0, 25, 25);
    cursor: pointer;
    color: whitesmoke;
    min-width: 6rem;
    padding: .6rem;
    display: block;
    border: none;
    margin-bottom: 10px;
    font-size: .8rem;
    box-shadow:  2px 2px 7px rgb(0, 34, 34);
}

.button{
  border: none;
  padding: .4rem;
  padding: .4rem;
  max-width: 6rem;
  text-align: center;
  font-size: 1rem;
  
}

a{
  text-decoration: none;
  color: rgb(255, 162, 36);
  cursor: pointer;
}

div {
  color: rgb(255, 162, 36);
}


